.club-right-part img{
    height: 100px;
    border-radius: 100%;
    z-index: 0;
}
.club-right-part{
    background-color: rgb(127, 246, 181);
    text-align: center;
    align-items: center;
    position: fixed;
    width: 25%;
    left: 75%;
    height: calc(100% + 90px);
    margin-top: -100px;
    z-index: -1;
}
.club-name{
    margin-bottom: 50px;
}
.top-right-div{
    padding-top: 100px;
    z-index: -1;
}
.club-right-part h4{
    margin: 15px;
}
.club-right-part p{
    margin-bottom: 30px;
}