.club-right-part img{
    height: 100px;
    border-radius: 100%;
    z-index: 0;
}
.club-right-part{
    z-index: -1;
    margin-top: -100px;
    width: 25%;
    position: fixed;
    align-items: center;
    text-align: center;
    overflow-x:hidden;
    background-color: rgb(127, 246, 181);
    right:0;
    height: 110%;
}
.club-name{
    margin-bottom: 50px;
}
.top-right-div{
    padding-top: 100px;
    z-index: -1;
}
.club-right-part h4{
    margin: 15px;
}
.club-right-part p{
    margin-bottom: 30px;
}
@media only screen and (max-width : 810px)
{
    .club-right-part img{
        height: 8%;
    }
    .club-right-part h2{
        font-size : 20px; 
    }
    .club-right-part h4{
        font-size : 15px;
    }
    .club-right-part p{
        font-size : 15px 
    }
}