svg
{
    height: 200px;
    width: 300px;
}
.login-box
{
    position: fixed;
    margin-top: 2rem;
    height: 440px;
    width: 300px;
    margin-left: 40%;

}
.login-box1
{
    position: relative;
    margin-top: 15rem;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow:  0 0 10px 6px #ffffff;
    -moz-box-shadow: 0 0 10px 6px #ffffff;
    -webkit-box-shadow: 0 0 10px 6px #ffffff;
    -o-box-shadow: 0 0 10px 6px #ffffff;

}
.user-login
{
    position: relative;
    padding-top: 15px;
    text-align: center;
    font-size:23px;

}
