body{
    color: rgb(2, 28, 58);
}

.navbar-all-links{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;    
}
.navbar-center-link{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.navbar-center-link li{
    padding: 10px 15px 10px 12px;
    font-size: 20px;
}
.slide-menu-icon{
    cursor: pointer;
    padding-top: 5px;
}
