body {
  color: rgb(2, 28, 58);
}
.navbar-all-links {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
  z-index: 99;
}
.responsive-menu a,
.responsive-menu span {
  cursor: pointer;
  padding: 10px 15px 10px 12px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(2, 28, 58);
}
.responsive-menu h1 {
  padding: 10px 15px 0px 20px;
  display: none;
}
.responsive-menu h4 {
  padding: 0px 15px 10px 20px;
  display: none;
}
.current {
  border-bottom: 2px solid #edf5e1;
  padding-bottom: 5px;
}
.slide-menu-icon {
  cursor: pointer;
}
.three-dot {
  display: none;
}
.three-dot img {
  height: 20px;
  width: 20px;
  margin-top: 8px;
  margin-left: 5px;
}
.border {
  border-bottom: 2px solid #379683;
  padding-bottom: 25px;
  width: calc(10vw + 4rem);
  margin-left: 50px;
}
.responsive-menu.center-link {
  display: block;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
}
.responsive-menu.center-link h1 {
  display: block;
}
.responsive-menu.center-link h4 {
  display: block;
  border-bottom: 2px solid #379683;
}
.responsive-menu.center-link a,
.responsive-menu.center-link span {
  position: relative;
  display: block;
  font-size: 17px;
  padding-left: 20px;
}
@media (max-width: 810px) {
  .border {
    margin-left: 30px;
  }
  .all-navbar {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    margin-left: -40px;
  }
  .logo h1 {
    font-size: 19px;
  }
  .navbar-all-links {
    width: 90%;
    justify-content: space-between;
  }
  .three-dot {
    display: inline;
    padding: 15px;
    padding-left: 0px;
  }
  .three-dot button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .responsive-menu {
    display: none;
  }
  .slide-menu-icon {
    margin-right: -15px;
  }
  #center-link a.current {
    color: #5cdb95;
    border: none;
  }
  #center-link .drop-menu {
    z-index: 2;
    position: absolute;
    display: none;
    margin-top: -20px;
    float: right;
    background-color: white;
    width: 130px;
    margin-left: 30px;
  }
  #center-link .show-drop-menu {
    display: block;
  }
}

/* right side menu */

.menu-2 {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
}

.bada-flex:after {
  flex: 2;
  position: fixed;
  content: " ";
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: rgba(250, 240, 240, 0.65);
  z-index: 99;
}
.chota-flex {
  position: fixed;
  background-color: white;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  z-index: 99;
  overflow-x: hidden;
}
.chota-flex ul {
  list-style-type: none;
  margin-top: calc(5vw + 4rem);
  padding-left: 35px;
  z-index: 199;
}
.menu-list {
  margin: 15px;
  transition: 180ms;
  margin-right: 0;
  z-index: 99;
}
.cross-img {
  border: none;
  background: transparent;
  outline: none;
  float: right;
  padding-right: 30px;
  padding-top: 30px;
  cursor: pointer;
  z-index: 99;
}
.menu-list a {
  text-decoration: none;
  color: rgb(2, 28, 58);
  z-index: 99;
}
.menu-list a:hover {
  color: #3386e6;
}
.nav-link {
  color: #fff;
}
@media (max-width: 640px) {
  .chota-flex {
    width: 50%;
    left: 50%;
    z-index: 99;
  }
  .chota-flex ul {
    margin-top: 50px;
    padding-left: 20px;
    z-index: 99;
  }
  .cross-img {
    padding: 15px;
    padding-bottom: 0;
    z-index: 99;
  }
  .logo h1{
    font-size :20px
  }
  .logo h4{
    font-size : 9px;
  }
}
@media (max-height: 400px) {
  .chota-flex ul {
    margin-top: calc(4rem);
    z-index: 99;
  }
  .cross-img {
    padding-top: 15px;
    z-index: 99;
  }
}
.menu-2.side-menu {
  display: none;
}

/* drow down menu*/

.drop-menu {
  z-index: 2;
  position: absolute;
  display: none;
  margin-top: 10px;
  float: right;
  background-color: white;
  width: 130px;
  margin-left: 465px;
  border-radius: 4px;
}
.drop-menu a {
  display: block;
  font-size: 15px;
  padding: 5px 0 5px 5px;
}
.drop-menu a:hover {
  background-color: rgb(2, 28, 58);
  color: white;
}
.responsive-menu .drop-menu .active-drop-down {
  color: #5cdb95;
}
.show-drop-menu {
  display: block;
}
