body{
    color: rgb(2, 28, 58);
}

.navbar-all-links{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;    
    z-index: 99;
}
.navbar-center-link{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.navbar-center-link li{
    padding: 10px 15px 10px 12px;
    font-size: 20px;
}
.navbar-center-link h1{
    padding: 10px 15px 0px 20px;
   display: none;
}
.navbar-center-link h4{
    padding: 0px 15px 10px 20px;
    display: none;
 }
.navbar-center-link a{
    text-decoration: none;
    color: rgb(2, 28, 58);
}
.current{
    border-bottom: 2px solid #EDF5E1;
    padding-bottom: 5px;
}
.slide-menu-icon{
    cursor: pointer;
}
.three-dot{
    display:none;   
}
.border{
    border-bottom: 2px solid #379683;
    padding-bottom: 25px;
    width: calc(10vw + 4rem);
    margin-left: 50px;
}
@media (max-width:750px){
    .border{
        margin-left: 30px;
    }
    .all-navbar{
        display:flex;
        justify-content: space-around;
    }
    .logo{
        margin-left: -40px;
    }
    .logo h1{
        font-size: 19px;
    }
    .navbar-all-links{
        width: 90%;
        justify-content: space-between;
    }
    .three-dot{
        display: inline;
        padding: 15px;
        padding-left: 0px;
        cursor: pointer;
    }
    .three-dot button{
        background: transparent;
        border: none;
        outline: none;
    }
    .responsive-menu{
        display: none;
    }
    .responsive-menu.center-link{
        display: block;
        position: absolute;
    }
    .responsive-menu.center-link ul h1{
        display: block;
    }
    .responsive-menu.center-link li{
        font-size: 17px;
        padding-left: 20px;
    }
    .responsive-menu.center-link ul h4{
        display: block;
        border-bottom: 2px solid #379683;
    }
    .responsive-menu.center-link ul{
        width: 200px;
        display: block;
        margin-left: -85px;
        background-color:white;
        margin-top: -15px;
    }
    .slide-menu-icon{
        margin-right: -15px;
    }
    .navbar-center-link a.current{
        color:#5CDB95;
    }
}

*{
    margin: 0;
    padding: 0;
}

.menu-2{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
}

.bada-flex:after{
    flex: 2;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 75%;
    height: 130%;
    background-color: rgba(250, 240, 240, 0.65);
    z-index: 99;
}
.chota-flex{
    position: absolute;
    background-color: white;
    top: 0;
    left: 75%;
    width: 25%;
    height: 130%;
    z-index: 99;
}
.chota-flex ul{
    list-style-type: none;
    margin-top:calc(5vw + 4rem);
    padding-left: 35px;
    z-index: 99;
}
.menu-list{
    margin: 15px;
    margin-right: 0;
    z-index: 99;
}
.cross-img{
    border: none;
    background: transparent;
    outline: none;
    float: right;
    padding-right: 30px;
    padding-top: 30px;
    cursor: pointer;
    z-index: 99;
}
.menu-list a{
    text-decoration: none;
    color: rgb(2, 28, 58);
    z-index: 99;
}
.menu-list a:hover{
    color:#5CDB95;
}
@media (max-width:640px){
    .chota-flex{
        width: 50%;
        left: 50%;
        z-index: 99;
    }
    .chota-flex ul{
        margin-top: 50px;
        padding-left: 20px;
        z-index: 99;
    }
    .cross-img{
        padding: 15px;
        padding-bottom: 0;
        z-index: 99;
    }
}
@media (max-height:400px){
    .chota-flex ul{
        margin-top: calc(4rem);
        z-index: 99;
    }
    .cross-img{
        padding-top: 15px;
        z-index: 99;
    }
}
.menu-2.side-menu{
    display: none;
}
