body{
    color: rgb(2, 28, 58);
}

.navbar-all-links{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;    
}
.navbar-center-link{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.navbar-center-link li{
    padding: 10px 15px 10px 12px;
    font-size: 20px;
}
.navbar-center-link a{
    text-decoration: none;
    color: rgb(2, 28, 58);
}
.current{
    border-bottom: 2px solid #EDF5E1;
    padding-bottom: 5px;
}
.slide-menu-icon{
    cursor: pointer;
}
.three-dot{
    display:none;
    
}
@media (max-width:640px){
    .all-navbar{
        display:flex;
        justify-content: space-around;
    }
    .logo{
        margin-left: -40px;
    }
    .logo h1{
        font-size: 19px;
    }
    .navbar-all-links{
        width: 90%;
        justify-content: space-between;
    }
    .three-dot{
        display: inline;
        padding: 15px;
        padding-left: 0px;
        cursor: pointer;
    }
    .three-dot button{
        background: transparent;
        border: none;
        outline: none;
    }
    .responsive-menu{
        display: none;
    }
    .responsive-menu.center-link{
        display: block;
        position: absolute;
        
    }
    .responsive-menu.center-link ul{
        display: block;
        margin-left: -85px;
        background-color:white ;
        margin-top: 43px;
    }
    .slide-menu-icon{
        margin-right: -15px;
    }
}

