.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding: 8% 6%;
    margin: 4rem;
    width: 24rem;
    &__thumbnail {
      img {
        width: 20rem;
        margin-bottom: 7%;
        
        height: 10rem;
      }
    }
    &__data {
      margin-bottom: 4%;
      &__title {
        margin-bottom: 3%;
        font-family: SeoulNamsan;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: 0em;
        text-align: left;
        color: #005abb;
      }
      &__date {
        margin-bottom: 4%;
        display: flex;
        &__date-title {
          padding-right: 1.5%;
          font-family: SeoulNamsan;
          font-size: 1.375rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.375rem;
          letter-spacing: 0em;
          text-align: left;
        }
        &__date-value {
          font-family: SeoulNamsan;
          font-size: 1.375rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.375rem;
          letter-spacing: 0em;
          text-align: left;
          color: #005abb;
        }
      }
      &__text {
        font-family: SeoulNamsan;
        font-size: 1.28rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  
  @media screen and (max-width: 1350px) {
    .event {
      &__data {
        &__title {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
        &__date {
          &__date-title,
          &__date-value {
            font-size: 1.3rem;
            line-height: 1.3rem;
          }
        }
        &__text {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .event {
      &__data {
        &__title {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
        &__date {
          &__date-title,
          &__date-value {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }
        &__text {
          font-size: 1.1rem;
          line-height: 1.1rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 1090px) {
    .event {
      &__data {
        &__title {
          font-size: 1.3rem;
          line-height: 1.3rem;
        }
        &__date {
          &__date-title,
          &__date-value {
            font-size: 1.1rem;
            line-height: 1.1rem;
          }
        }
        &__text {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 1023px) {
    .event {
      margin: 3% 3%;
      padding: 5% 2.5%;
      .event {
        &__data {
          &__title {
            font-size: 1.8rem;
            line-height: 1.8rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.5rem;
              line-height: 1.5rem;
            }
          }
          &__text {
            font-size: 1.3rem;
            line-height: 1.3rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .event {
      .event {
        &__data {
          &__title {
            font-size: 1.6rem;
            line-height: 1.6rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.3rem;
              line-height: 1.3rem;
            }
          }
          &__text {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 780px) {
    .event {
      .event {
        &__data {
          &__title {
            font-size: 1.4rem;
            line-height: 1.4rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.2rem;
              line-height: 1.2rem;
            }
          }
          &__text {
            font-size: 1.1rem;
            line-height: 1.1rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 680px) {
    .event {
      margin: 3% 3%;
      padding: 8% 4%;
      .event {
        &__data {
          &__title {
            font-size: 1.8rem;
            line-height: 1.8rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.5rem;
              line-height: 1.5rem;
            }
          }
          &__text {
            font-size: 1.35rem;
            line-height: 1.35rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 450px) {
    .event {
      margin: 3% 3%;
      padding: 10% 6%;
      .event {
        &__data {
          &__title {
            font-size: 1.6rem;
            line-height: 1.6rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.3rem;
              line-height: 1.3rem;
            }
          }
          &__text {
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 390px) {
    .event {
      margin: 3% 3%;
      padding: 10% 6%;
      .event {
        &__data {
          &__title {
            font-size: 1.3rem;
            line-height: 1.3rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1.1rem;
              line-height: 1.1rem;
            }
          }
          &__text {
            font-size: 1rem;
            line-height: 1rem;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 330px) {
    .event {
      margin: 3% 3%;
      padding: 10% 6%;
      .event {
        &__data {
          &__title {
            font-size: 1.3rem;
            line-height: 1.3rem;
          }
          &__date {
            &__date-title,
            &__date-value {
              font-size: 1rem;
              line-height: 1rem;
            }
          }
          &__text {
            font-size: 1rem;
            line-height: 1rem;
          }
        }
      }
    }
  }
  