.menu-2{

    display: flex;
    justify-content: space-evenly;
    height: 100%;
    /* min-height: 540px; */
    z-index: 99;
}
/* body{
    overflow-y:hidden;
} */

.bada-flex:after{
    flex: 2;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 99;
    background-color: rgba(250, 240, 240, 0.65);
}
.chota-flex{
    position: absolute;
    background-color: white;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0;
    z-index: 99;
}
.chota-flex ul{
    list-style-type: none;
    margin-top: 130px;
    padding-left: 35px;
    z-index: 99;
}
.menu-list{
    margin: 15px;
    z-index: 99;
}
.cross-img{
    border: none;
    background: transparent;
    outline: none;
    float: right;
    padding: 30px;
    cursor: pointer;
    z-index: 99;
}
.menu-list a{
    text-decoration: none;
    color: rgb(2, 28, 58);
}
@media (max-width:640px){
    .chota-flex{
        width: 50%;
        left: 50%;
        z-index: 99;
    }
    .chota-flex ul{
        margin-top: 60px;
        padding-left: 20px;
        z-index: 99;
    }
    .cross-img{
        padding: 20px;
        padding-bottom: 0;
        z-index: 99;
    }
}