.club-left-part img {
  width: 100%;
  height: 35%;
}
.lower-image {
  height: 25%;
}

.club-left-part {
  z-index: -1;
  margin-top: -100px;
  height: calc(100% + 100px);
  width: 25%;
  position: fixed;
  background-color: white;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.top-left-div {
  padding-top: 100px;
}
.club-left-part button {
  background: transparent;
  border: 2px solid #379683;
  padding: 5px 15px 5px 15px;
  outline: none;
  color: #05386b;
  font-weight: bold;
  font-size: 20px;
  transition: 250ms;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.club-left-part button:hover {
  background-color: #2a9adb;
  color: #fff;
}
@media only screen and (max-width : 800px)
{
  .club-left-part button {
    padding: 2px 10px 2px 10px;
    font-size: 12px;
  }
}
